@model Stock

@{
    ViewData["Title"] = "Create Stock";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="TickerSymbol"></label>
        <input class="form-control" asp-for="TickerSymbol">
        <span asp-validation-for="TickerSymbol" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="FullName"></label>
        <input class="form-control" asp-for="FullName">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="CurrentPrice"></label>
        <input class="form-control" asp-for="CurrentPrice">
        <span asp-validation-for="CurrentPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ImageSrcUrl"></label>
        <input class="form-control" asp-for="ImageSrcUrl">
        <span asp-validation-for="ImageSrcUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Select" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validations/AllLettersCapitalized.js"></script>
}
